{% extends 'accounting/base.html' %}
{% load static %}
<title>{% block title %}Liste des Comptables{% endblock %}</title>


{% block content %}
<div class="container-xxl"> 
    <div class="row">
        <div class="col-12">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm border-theme-white-2" role="alert">
                    <div class="d-inline-flex justify-content-center align-items-center thumb-xs 
                        {% if message.tags == 'success' %} bg-success
                        {% elif message.tags == 'danger' %} bg-danger
                        {% elif message.tags == 'warning' %} bg-warning
                        {% elif message.tags == 'info' %} bg-purple
                        {% else %} bg-secondary {% endif %} 
                        rounded-circle mx-auto me-1">
                        <i class="fas 
                            {% if message.tags == 'success' %} fa-check
                            {% elif message.tags == 'danger' %} fa-xmark
                            {% elif message.tags == 'warning' %} fa-exclamation
                            {% elif message.tags == 'info' %} fa-info
                            {% else %} fa-info {% endif %}
                            align-self-center mb-0 text-white"></i>
                    </div>
                    {{ message|safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">                      
                            <h4 class="card-title">Liste des Comptables</h4>       
                        </div><!--end col-->
                        <div class="d-flex align-items-center justify-content-end mb-3">
                            <!-- Bouton pour ajouter un nouveau comptable -->
                            <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#addModal">
                                <i class="fas fa-plus me-1"></i> Ajouter un nouveau comptable
                            </button>
                            <!-- Filtre par état avec label au-dessus de la sélection -->
                            <div class="text-end">
                                <select id="filter_status" onchange="if (this.value) location = this.value;" class="form-select" style="width: auto;">
                                    <option value="?filter=all" {% if filter_status == 'all' %}selected{% endif %} disabled >Filtrer par état:</option>
                                    <option value="?" {% if filter_status == '' %}selected{% endif %}>Tous</option>
                                    <option value="?filter=active" {% if filter_status == 'active' %}selected{% endif %}>Actifs</option>
                                    <option value="?filter=archived" {% if filter_status == 'archived' %}selected{% endif %}>Archivés</option>
                                </select>
                            </div>

                        </div>
                        
                        
                    </div><!--end row-->                                  
                </div><!--end card-header-->
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table mb-0" id="datatable_1">
                            <thead class="table-light">
                                <tr>
                                    <th>Nom</th>
                                    <th>Contact</th>
                                    <th>Email</th>
                                    <th>Téléphone</th>
                                    <th>Statut</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comptable in comptables %}
                                    <tr {% if comptable.is_archived %}class="table-secondary"{% endif %}>
                                        <td>{{ comptable.lib_08 }}</td>
                                        <td>{{ comptable.contact_08 }}</td>
                                        <td>{{ comptable.mail_08 }}</td>
                                        <td>{{ comptable.tel_08 }}</td>
                                        <td>
                                            {% if comptable.is_archived %}
                                                <span class="badge rounded text-white bg-warning">Inactif</span>
                                            {% else %}
                                                <span class="badge rounded text-success bg-success-subtle">Actif</span>
                                            {% endif %}
                                        </td>        
                                        <td>
                                            <!-- Boutons pour les actions en utilisant des modals -->
                                            <button class="btn {% if comptable.is_archived %}btn-success{% else %}btn-warning{% endif %} btn-sm" data-bs-toggle="modal" data-bs-target="#archiveModal{{ comptable.pk }}">
                                                {% if comptable.is_archived %}
                                                    <i class="las la-archive"></i>
                                                {% else %}
                                                    <i class="las la-check"></i>
                                                {% endif %}
                                                {% if comptable.is_archived %}Réactiver{% else %}Archiver{% endif %}
                                                
                                            </button>
                                            <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#editModal{{ comptable.pk }}">
                                                <i class="las la-pen"></i>
                                                Modifier
                                            </button>
                                            <!--<button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ comptable.pk }}">Supprimer</button>-->
                                        </td>
                                    </tr>
                    
                                    <!-- Modal d'édition -->
                                    <div class="modal fade" id="editModal{{ comptable.pk }}" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form method="post" action="{% url 'comptable_edit' comptable.pk %}">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="editModalLabel">Modifier le comptable</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <!-- Champs pour la modification d'un comptable -->
                                                        <div class="row">
                                                            <div class="col-md-6 mb-3">
                                                                <label for="lib_08" class="form-label">Nom</label>
                                                                <input type="text" name="lib_08" class="form-control" value="{{ comptable.lib_08 }}" placeholder="Entrez le nom" required>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label for="adr_08" class="form-label">Adresse</label>
                                                                <input type="text" name="adr_08" class="form-control" value="{{ comptable.adr_08 }}" placeholder="Entrez l'adresse" required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 mb-3">
                                                                <label for="mail_08" class="form-label">Email</label>
                                                                <input type="email" name="mail_08" class="form-control" value="{{ comptable.mail_08 }}" placeholder="Entrez l'email" required>
                                                            </div>
                                                            <div class="col-md-6 mb-3">
                                                                <label for="tel_08" class="form-label">Téléphone</label>
                                                                <input type="text" name="tel_08" class="form-control" value="{{ comptable.tel_08 }}" placeholder="Entrez le téléphone"required>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 mb-3">
                                                                <label for="contact_08" class="form-label">Contact</label>
                                                                <input type="text" name="contact_08" class="form-control" value="{{ comptable.contact_08 }}" placeholder="Entrez le nom du contact" required>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <!-- Modal de confirmation d'archivage -->
                                    <div class="modal fade" id="archiveModal{{ comptable.pk }}" tabindex="-1" aria-labelledby="archiveModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form method="post" action="{% url 'comptable_archive' comptable.pk %}">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="archiveModalLabel">
                                                            {% if comptable.is_archived %}Réactiver{% else %}Archiver{% endif %} le comptable
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Êtes-vous sûr de vouloir 
                                                        {% if comptable.is_archived %}réactiver{% else %}archiver{% endif %} 
                                                        cet enregistrement ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                        <button type="submit" class="btn btn-warning">
                                                            {% if comptable.is_archived %}Réactiver{% else %}Archiver{% endif %}
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <!-- Modal de confirmation de suppression -->
                                    <div class="modal fade" id="deleteModal{{ comptable.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <form method="post" action="{% url 'comptable_delete' comptable.pk %}">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteModalLabel">Supprimer Comptable</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Êtes-vous sûr de vouloir supprimer cet enregistrement ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                        <button type="submit" class="btn btn-danger">Supprimer</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>                    
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->  


    <!-- Modal d'ajout -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{% url 'comptable_create' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Ajouter un comptable</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Champs pour l'ajout d'un nouveau comptable -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="lib_08" class="form-label">Nom</label>
                                <input type="text" name="lib_08" class="form-control" placeholder="Entrez le nom" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="adr_08" class="form-label">Adresse</label>
                                <input type="text" name="adr_08" class="form-control" placeholder="Entrez l'adresse" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="mail_08" class="form-label">Email</label>
                                <input type="email" name="mail_08" class="form-control" placeholder="Entrez l'email" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="tel_08" class="form-label">Téléphone</label>
                                <input type="text" name="tel_08" class="form-control" placeholder="Entrez le téléphone" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="contact_08" class="form-label">Contact</label>
                                <input type="text" name="contact_08" class="form-control" placeholder="Entrez le nom du contact" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    

{% endblock content %}
