{% extends 'authenticate/base.html' %}
{% load static %}

{% block title %}Sign Up - AfricanMaps{% endblock title %}

{% block content %}
<div class="col-12 align-self-center">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <div class="card">
                    <div class="card-body p-0 bg-black auth-header-box rounded-top">
                        <div class="text-center p-3">
                            <a href="" class="logo logo-admin">
                                <img src="{% static 'assets/images/logo-sm.png' %}" height="50" alt="logo" class="auth-logo" style="border-radius: 5px;">
                            </a>
                            <h4 class="mt-3 mb-1 fw-semibold text-white fs-18">Create an Account</h4>
                            <p class="text-muted fw-medium mb-0">Enter your details to create your account today.</p>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                       <!-- authenticate/register.html -->
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" name="first_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Last Name</label>
                                <input type="text" class="form-control" name="last_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password1" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password1" required>
                            </div>
                            <div class="mb-3">
                                <label for="password2" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" name="password2" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">User Type</label>
                                <select class="form-select" name="user_type" required>
                                    <option value="regular">Regular User</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>

                        <div class="text-center">
                            <p class="text-muted">Already have an account? <a href="{% url 'login' %}" class="text-primary ms-2">Log in</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
